<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ecofuturo - Click</title>
</head>
<body style="background-color: rgb(202, 202, 202); margin: 0; ">
    <div class="container">
        <div class="row">
            <div class="body-mail text-center" style="width: 600px; height: 800px; margin: auto; text-align: center; background-image: url('https://ecofuturo.s3.amazonaws.com/image/recupera-contrasena.jpg'); background-repeat: no-repeat; background-size: 600px 800px;  background-position: center center;  display: flex; align-items: center; justify-content: center;">
                <div>
                    @message
                </div>
            </div>
        </div>
    </div>
</body>
</html>